In [12]:
import numpy as np
import pandas as pd
import urllib.request, json
from pandas.io.json import json_normalize
import ijson
from pandas.io.json import json_normalize

In [13]:
with urllib.request.urlopen("https://min-api.cryptocompare.com/data/histominute?fsym=BTC&tsym=USD&limit=500000") as url:
    data = json.loads(url.read().decode())
# 1533876900
# 1533996840

In [17]:
with urllib.request.urlopen("https://min-api.cryptocompare.com/data/histominute?fsym=BTC&tsym=USD&limit=500000") as url:
    d = json.load(url)

BTCUSD = json_normalize(d['Data'])
BTCUSD.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>close</th>
      <th>high</th>
      <th>low</th>
      <th>open</th>
      <th>time</th>
      <th>volumefrom</th>
      <th>volumeto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>6418.04</td>
      <td>6420.64</td>
      <td>6417.58</td>
      <td>6418.42</td>
      <td>1533878940</td>
      <td>24.27</td>
      <td>156750.26</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6411.72</td>
      <td>6418.09</td>
      <td>6411.72</td>
      <td>6418.04</td>
      <td>1533879000</td>
      <td>129.83</td>
      <td>833046.81</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6410.22</td>
      <td>6411.92</td>
      <td>6410.22</td>
      <td>6411.71</td>
      <td>1533879060</td>
      <td>43.01</td>
      <td>276463.85</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
type(BTCUSD)

pandas.core.frame.DataFrame

In [23]:
BTCUSD.set_index('time', inplace=True)

In [25]:
BTCUSD.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>close</th>
      <th>high</th>
      <th>low</th>
      <th>open</th>
      <th>volumefrom</th>
      <th>volumeto</th>
    </tr>
    <tr>
      <th>time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1533878940</th>
      <td>6418.04</td>
      <td>6420.64</td>
      <td>6417.58</td>
      <td>6418.42</td>
      <td>24.27</td>
      <td>156750.26</td>
    </tr>
    <tr>
      <th>1533879000</th>
      <td>6411.72</td>
      <td>6418.09</td>
      <td>6411.72</td>
      <td>6418.04</td>
      <td>129.83</td>
      <td>833046.81</td>
    </tr>
    <tr>
      <th>1533879060</th>
      <td>6410.22</td>
      <td>6411.92</td>
      <td>6410.22</td>
      <td>6411.71</td>
      <td>43.01</td>
      <td>276463.85</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
BTCUSD.shape

(2001, 6)